{% import "_includes/forms" as forms %}

{% macro configWarning(setting, file) -%}
    {%- set configArray = craft.app.config.getConfigFromFile(file) -%}
    {%- if configArray[setting] is defined -%}
        {{- "This is being overridden by the `#{setting}` setting in the `config/#{file}.php` file." |raw }}
    {%- else -%}
        {{ false }}
    {%- endif -%}
{%- endmacro %}
{% from _self import configWarning %}

<section>
    <h2 data-icon="screwdriver" class="icon">{{ "Static File Versioning"|t('asset-versioner') }}</h2>
    <hr>
    {{ forms.lightswitchField({
        id: 'staticVersioningEnabled',
        name: 'staticVersioningEnabled',
        label: "Enabled"|t('asset-versioner'),
        instructions: "Allow static files (JS, CSS, fonts etc.) to be automatically versioned"|t('asset-versioner'),
        on: settings.staticVersioningEnabled,
        errors: settings.getErrors('staticVersioningEnabled'),
        warning: configWarning('staticVersioningEnabled', 'asset-versioner')
    }) }}

    {{ forms.textField({
        id: 'staticVersioningExtensions',
        name: 'staticVersioningExtensions',
        label: "Extensions"|t('asset-versioner'),
        instructions: "A comma-separated of extensions to automatically version"|t('asset-versioner'),
        placeholder: 'png,jpeg,jpg,svg,webp,css,js,eot,woff,woff2,tff,map',
        value: settings.staticVersioningExtensions,
        required: true,
        errors: settings.getErrors('staticVersioningExtensions'),
        warning: configWarning('staticVersioningExtensions', 'asset-versioner')
    }) }}
    <br>
</section>
<section>
    <h2 data-icon="asset" class="icon">{{ "Asset File Versioning"|t('asset-versioner') }}</h2>
    <hr>
    {{ forms.lightswitchField({
        id: 'assetVersioningEnabled',
        name: 'assetVersioningEnabled',
        label: "Enabled"|t('asset-versioner'),
        instructions: "Allow uploaded asset files to be automatically versioned"|t('asset-versioner'),
        on: settings.assetVersioningEnabled,
        errors: settings.getErrors('assetVersioningEnabled'),
        warning: configWarning('assetVersioningEnabled', 'asset-versioner')
    }) }}

    {{ forms.textField({
        id: 'assetVersioningExtensions',
        name: 'assetVersioningExtensions',
        label: "Extensions"|t('asset-versioner'),
        instructions: "A comma-separated of extensions to automatically version"|t('asset-versioner'),
        placeholder: 'jpg,jpeg,png',
        value: settings.assetVersioningExtensions,
        required: true,
        errors: settings.getErrors('assetVersioningExtensions'),
        warning: configWarning('assetVersioningExtensions', 'asset-versioner')
    }) }}
</section>